$sidebar-background: #3E3B39;

html, body {
    margin: 0;
    overflow: hidden;
}

#content{
    display: flex;
    flex-flow: row nowrap;
    height: calc(100% - 104px);
    min-height: calc(100% - 104px);
}

#board-container{
    flex: 1 100%; // Align nexdt to sidebar
    color:#DBEAFE;
    padding:20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
    gap:10px;

    #board-wrapper{
        display:flex;
        align-self: stretch;
        justify-content: center;
    }

    .alert {
        padding: 20px;
        margin: 5px;
        color: #970020;
        background-color: #ffd5de;
    }

    .match-heading{
        display:flex;
        background-color: #1E1E1E;
        flex-shrink:0;

        .player-info{
            display: flex;
            flex-flow: row nowrap;
            width:100%;
            gap:20px;

            .player-pic{
                height:56px;
                width:56px;
            }

            .player-username{
                align-self:center;
                font-size: 24px;
            }
        }

        .time-control{
            color:black;
            padding: 0px 100px;
            align-items:center;
            align-content: center;
            display: flex;
            font-size: 24px;
            border-left: 1px;
            background-color: #D8281D;
        }
    }

}

#sidebar{
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: space-between;
    flex: 1 30%;
    background-color: $sidebar-background;
    height:100%;
    padding:20px;
    color:#DBEAFE;
    overflow-y:scroll;
    overflow-x: hidden;
    scrollbar-width: thin;


    .container{
        background-color: #312E2B;
        padding:20px;

        display:flex;
        flex-direction: column;
        gap:20px;
        border: 0px;
        border-radius: 8px;
    }

    .game-info{
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    .button-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap:10px;

        .button-item{
            display:flex;
            justify-content: center;
            align-items: center;
            background-color: #1E1E1E;
            width:100%;
            height:100%;
            padding: 10px 0px;

            &:hover{
                opacity:0.4;
            }

            img{
                width: 50%;
            }
        }
    }

    .dropdown-wrapper{
        display: flex;
        flex-direction: column;

        height:20%;
        width:100%;
        gap:20px;

        .dropdown-item{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1E1E1E;
            padding: 10px 0px;

            .dropdown-btn:hover{
                opacity:0.4;
            }
        }

        .dropdown-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            background-color: #1E1E1E;
            opacity: 0.7;
        }
    
        .dropdown-content button {
            color: #FFFFFF;
            text-align: center;
            padding: 10px;
            text-decoration: none;
            display: block;
    
            &:hover{
                opacity:0.4;
                background-color: #0F491C;
            }
        }

    }

    .show {
        display:grid !important;
    }

    .hidden{
        display:none !important;
    }

    .profile-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap:20px;

        #avatar{
            height:80px;
            width:80px;
            border-radius: 50%;
        }

        .username{
            font-weight: 700;
            font-size: 24px;
            line-height: 20px;
            color: #FFFFFF;
            flex-grow: 3;
        }

        .settings-btn{
            display: flex;
            justify-content: flex-end;
            text-decoration: none;
            color: #FFFFFF;
            padding:10px;

            &:hover{
                opacity: 0.4;
            }
        }
    }

    .button{
        background-color: #0F491C;
        text-decoration: none;
        color:white;
        width: 100%;
        padding:15px;
    
        text-align: center;

        &:hover{
            opacity: 0.7;
        }

        &:disabled{
            opacity: 0.4;
        }
    }

    .text{
        text-align: center;
        flex-grow: 1;
        flex-basis:0;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        color: #FFFFFF;
    }

    .selected{
        background-color: #0F491C !important;
    }

    .validation-wrapper{
        .validation-text{
            color:red;
            font-size: 12px;
        }
    }

    .invalid{
        border: 1px solid red;
    }


}