#content{
    display:flex;
    gap:25px;

    margin-left: 20%;
    margin-right: 20%;

    background-color: #3E3B39;

    padding:30px 50px;
    color:#DBEAFE;
    min-height: 100%;
}

hr{
    border: none;
    height: 5px;
    color: #DBEAFE;  /* old IE */
    background-color: #DBEAFE;  /* Modern Browsers */
    width:100%;
}

.recent-container{
    background-color: #282727;
    border: 0px;
    border-radius: 8px;
    padding:20px 30px;
    color:#FFFFFF;
    flex-basis: 100%;

}

.container{
    display:flex;
    flex-direction: column;
    border: 0px;
    border-radius: 8px;
    padding:40px 30px;
    color:#FFFFFF;

    &:nth-child(1){
        flex: 30;
        height: fit-content;
        background-color: #312E2B;
    }

    &:nth-child(2){
        flex: 70;
        background-color: #1E1E1E;
    }

    .wrapper{
        display:flex;
        flex-direction: column;
        gap:30px;

        .col{
            flex-direction: column !important;
        }

        .row{
            display:flex;
            flex-direction: row;
            width:100%;
            gap:8px;
            align-items: center;

            .middle{
                justify-content: center;
            }

            .left{
                flex-basis: fit-content;
            }

            .right{
                justify-content: end;
            }

            .item{      
                display: flex;
                width:100%;
                align-self: stretch;

                #avatar{
                    height:200px;
                    width:200px;
                    border-radius: 50%;
                }

                .username{
                    font-size: x-large;
                    font-weight: 600;
                    align-items: center;
                    justify-content: center;
                }

                .title{
                    font-size: medium;
                    font-weight: 600;
                }

                .text{
                    font-size: small;
                }

                .icon{
                    margin-top:10px;
                    flex-basis: fit-content;
                }

                .filter-btn{
                    background: rgb(15,73,28);
                    background: linear-gradient(90deg, rgba(15,73,28,1) 0%, rgba(16,87,35,0.591456651019783) 30%, rgba(16,86,35,0.5942577714679622) 70%, rgba(15,73,28,1) 100%); 
                    width:100%;
                    padding:15px 15px;
                    text-transform: uppercase;

                    &:hover{
                        opacity:90%;
                    }
                }


                .button{
                    background-color: #0F491C;
                    text-decoration: none;
                    color:white;
                    padding:15px 45px;
                    margin:10px;
                    width:100%;
                    border: 0px;
                    border-radius: 8px;
                
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }

            button{
                background: none;
                border: none;
                padding: 0;
                font: inherit;
                outline: inherit;
                color: white;
                padding:10px;

                &:hover{
                    color:gray
                }
            }

            .selected{
                border-bottom: solid white 2px;

                &:hover{
                    border-bottom-color: grey;
                }
            }

            .selected-btn{
                border: solid 2px white
            }
        }
    }
}