<!doctype html>
<html>

  <head>

    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/layout.css')}}" />
    <script src="https://kit.fontawesome.com/1d66383990.js" crossorigin="anonymous"></script>

    <title>{% block title %}{% endblock %} - ChessAI</title>
    {% endblock %}

  </head>

  <body>

    {% block navbar %}
    <nav id="navigation-bar">

      <div class ="nav-left">
        <a href="/">
          <img src="static/images/logo.png" alt="ChessAI" title="Home"></img>
        </a>

        <div class="nav-title"> CHESS
          <div class="nav-title-small">.</div>
          <div class="nav-title-small">AI</div>
        </div>
      </div>

      <div class="nav-right">

        

        <a href="/play" class="nav-button" title="Play">
          <i class="fa-solid fa-chess-board fa-2xl"></i>
        </a>
        
        <a href="/learn" class="nav-button" title="Learn">
          <i class="fa-solid fa-book fa-2xl"></i>
        </a>

        <a href="/profile" class="nav-button" title="Profile">
            <i class="fa-solid fa-user fa-2xl"></i>
        </a> 

        

        <!-- <a href="#" class="button-nav" title="Go to Login">
          Log In
        </a> -->

      </div>

    </nav>

    {% endblock %}

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

  </body>

</html>
