{% extends "layout.html" %}

{% block title %} Play Chess {% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/play.css') }}">
  <script src="{{url_for('static', filename='js/play.js')}}"></script>

{% endblock %}



{% block content %}


<div id="sidebar">
    <div class="container">
            <div class="button-wrapper">

                <button onclick="setStart(this)" class="button-item" id="white">
                    <img src="static/images/black.png" alt="Black start" title="Black start"></img>
                </button>

                <button onclick="setStart(this)" class="button-item" id="rand">
                    <img src="static/images/random.png" alt="Random start" title="Random start"></img>
                </button>
                <button onclick="setStart(this)" class="button-item" id="black">
                    <img src="static/images/white.png" alt="White start" title="White start"></img>
                </button>
            </div>

            <div class="dropdown-wrapper">
                <div>
                    <div class="dropdown-item">
                        <div class="text"> Bot Difficulty </div>
                        <div id="difficulty-selected" class="text" value=""> - </div>
                        <button onclick="Dropdown(this.id)" class="text dropdown-btn" id="difficulty">
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                    </div>

                    <div class="dropdown-content hidden" id="difficulty-values">
                        <button onclick="setDiff(this)" value="400">400</button>
                        <button onclick="setDiff(this)" value="500">500</button>
                        <button onclick="setDiff(this)" value="600">600</button>
                        <button onclick="setDiff(this)" value="700">700</button>
                        <button onclick="setDiff(this)" value="800">800</button>
                        <button onclick="setDiff(this)" value="900">900</button>
                        <button onclick="setDiff(this)" value="1000">1000</button>
                        <button onclick="setDiff(this)" value="1100">1100</button>
                        <button onclick="setDiff(this)" value="1200">1200</button>
                        <button onclick="setDiff(this)" value="1300">1300</button>
                        <button onclick="setDiff(this)" value="1400">1400</button>
                        <button onclick="setDiff(this)" value="1500">1500</button>
                    </div>

                </div>

                <div>
                    <div class="dropdown-item">
                        <div class="text"> Game Time </div>
                        <div id="time-selected" class="text"> - </div>
                        <button onclick="Dropdown(this.id)" class="text dropdown-btn" id="time">
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                    </div>

                    <div class="dropdown-content hidden" id="time-values">
                        <button onclick="setTime(this)" value="1">1 min</button>
                        <button onclick="setTime(this)" value="3">3 min</button>
                        <button onclick="setTime(this)" value="5">5 min</button>
                        <button onclick="setTime(this)" value="10">10 min</button>
                    </div>
                </div>

            </div>

            <button href="#" class="button" title="Play match">
                PLAY
            </button>
    </div>

    <div class="container">
        <div class="profile-wrapper">
            <img id="avatar" src="static/images/avatar_placeholder.png" alt="Avatar"> 
            <div class="username"> ORGAN123</div>
            <a href="#" class="settings-btn"> 
                <i class="fa-solid fa-ellipsis fa-2xl"></i>
            </a>
        </div>
    </div>

</div>

<div id="board">
    <!-- <img src="static/images/board.png" alt="Chess Board Graphic"></img> -->
</div>

{% endblock %}